/* Titolo h1 - Rosa accessibile */
h1 {
  color: #e75480; /* Dark Pink/Raspberry */
}

/* Titolo h2 - Giallo */
h2 {
  color: #FFD700;
}

/* Titolo h3 - Azzurro */
h3 {
  color: #5bc0de;
}

/* Titolo h4 - Verde */
h4 {
  color: #8fbc8f;
}

