h1 {
  color: #FF69B4; /* rosa */
}

h2 {
  color: #FFD700; /* giallo */
}

h3 {
  color: #5bc0de; /* azzurro chiaro */
}

h4 {
  color: #8fbc8f; /* verde chiaro */
}

body {
  background-color: #121212; /* sfondo scuro */
  color: #eeeeee; /* testo chiaro */
}
