h1 {
  color: #FF69B4 !important;
}

h2 {
  color: #FFD700 !important;
}

h3 {
  color: #5bc0de !important;
}

h4 {
  color: #8fbc8f !important;
}

body {
  background-color: #121212 !important;
  color: #eeeeee !important;
}
